# Anonymous Ratings from the Jester Online Joke Recommender System

# Abstract:

Ratings are real values ranging from -10.00 to +10.00 (the value "99" corresponds to "null" = "not rated").

One row per user

The first column gives the number of jokes rated by that user. The next 100 columns give the ratings for jokes 01 - 100.

# Dataset:
    
http://eigentaste.berkeley.edu/dataset/

The text of the jokes can be downloaded here: jester_dataset_1_joke_texts.zip (92KB)

Read the dataset(jokes.csv)

Take care about the header in read_csv() as there are no column names given in the dataset.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('jokes.csv')

In [3]:
data.head()

,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.5,-9.85,4.17,-8.98,...,2.82.2,99.18,99.19,99.20,99.21,99.22,-5.63,99.23,99.24,99.25
0,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
1,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
2,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
3,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
4,100,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45

Consider ratings named dataframe with only first 200 rows and all columns from 1(first column is 0) of dataset

In [4]:
ratings = data.iloc[:200,1:]

Change the column indices from 0 to 99

In [5]:
ratings.columns = range(ratings.shape[1])

In the dataset, the null ratings are given as 99.00, so replace all 99.00s with 0

Hint: You can use ratings.replace(<the given value>, <new value you wanted to change with>)

In [6]:
ratings = ratings.replace(99.0, 0)

In [7]:
ratings

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
1,0.00,0.00,0.00,0.00,9.03,9.27,9.03,9.27,0.00,0.00,...,0.00,0.00,0.00,9.08,0.00,0.00,0.00,0.00,0.00,0.00
2,0.00,8.35,0.00,0.00,1.80,8.16,-2.82,6.21,0.00,1.84,...,0.00,0.00,0.00,0.53,0.00,0.00,0.00,0.00,0.00,0.00
3,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
4,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,-1.80,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1.80,5.39,8.06,-0.10,4.81,4.66,-7.09,-7.72,3.69,4.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
196,2.62,-3.79,-1.17,-0.44,-1.02,5.05,-3.69,2.18,3.30,-0.73,...,1.41,-2.52,-0.53,-1.89,1.17,-2.04,-1.17,-0.73,0.73,0.44
197,0.00,0.00,0.00,0.00,7.91,0.00,3.64,-1.89,0.00,0.00,...,2.96,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
198,5.58,-7.28,-4.56,2.67,7.38,2.18,2.14,2.23,5.58,-4.51,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
199,0.00,0.00,0.00,5.83,7.09,1.26,7.86,8.88,3.93,2.96,...,8.25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

Normalize the ratings using StandardScaler and save them in ratings_diff variable

In [8]:
from sklearn.preprocessing import StandardScaler
ratings_diff = StandardScaler().fit_transform(ratings)

In [9]:
ratings_diff

array([[ 0.78762067, -0.17252351,  1.37903679, ...,  0.07059963,
        -1.36765027,  0.16746078],
       [-0.12768256, -0.11295828, -0.06492136, ..., -0.02685824,
        -0.04144395, -0.16095388],
       [-0.12768256,  1.60210964, -0.06492136, ..., -0.02685824,
        -0.04144395, -0.16095388],
       ...,
       [-0.12768256, -0.11295828, -0.06492136, ..., -0.02685824,
        -0.04144395, -0.16095388],
       [ 1.1241292 , -1.60825102, -1.1002121 , ..., -0.02685824,
        -0.04144395, -0.16095388],
       [-0.12768256, -0.11295828, -0.06492136, ..., -0.02685824,
        -0.04144395, -0.16095388]])

# Popularity based recommendation system

Find the mean for each column in ratings_diff i.e, for each joke

In [10]:
mean_ratings = ratings_diff.mean(axis=0)

# Consider all the mean ratings and find the jokes with highest mean value and display the top 10 joke IDs.

In [11]:
mean_ratings = pd.DataFrame(mean_ratings)

In [12]:
mean_ratings.iloc[:,0].argsort()[:-10:-1]

99    49
98    48
97    23
96    41
95    80
94    38
93    88
92    15
91    73
Name: 0, dtype: int64

# Content based Recommendation

# Context:

This dataset contains ratings for ten thousand popular books. As to the source, let's say that these ratings were found on the 
internet. Generally, there are 100 reviews for each book, although some have less - fewer - ratings. Ratings go from one to five

Both book IDs and user IDs are contiguous. For books, they are 1-10000, for users, 1-53424. All users have made at least two 
ratings. Median number of ratings per user is 8.

There are also books marked to read by the users, book metadata (author, year, etc.) and tags.

Here is to recommend good book

# Content:

books.csv has metadata for each book (goodreads IDs, authors, title, average rating, etc.).

Book metadata.

best_book_id is the most popular edition for a given work. Generally it's the same as goodreads_book_id, differs occasionally.

books_count is the number of editions for a given work.

# Dataset:
    
https://www.kaggle.com/zygmunt/goodbooks-10k#books.csv

In [13]:
import pandas as pd

df = pd.read_csv('books.csv')

In [14]:
df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

# Data pre-processing

In [15]:
# get unique books with title
books_sub = df[["book_id","title"]].copy()

In [16]:
books_sub.head()

   book_id                                              title
0  2767052            The Hunger Games (The Hunger Games, #1)
1        3  Harry Potter and the Sorcerer's Stone (Harry P...
2    41865                            Twilight (Twilight, #1)
3     2657                              To Kill a Mockingbird
4     4671                                   The Great Gatsby

Vectorize Title

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
# initialize vectorizer
#vect = CountVectorizer(analyzer='word',ngram_range=(1,2),stop_words='english', min_df = 0.001)
vect = CountVectorizer(analyzer='word',ngram_range=(1,2),stop_words='english', min_df = 0.002) #min_df - rare words , max_df - most used words
#ngram_range = (1,2) - if used more than 1(value), lot of features or noise

In [19]:
vect.fit(books_sub['title'])
title_matrix = vect.transform(books_sub['title'])

In [20]:
title_matrix.shape

(10000, 261)

In [40]:
type(title_matrix)

scipy.sparse.csr.csr_matrix

In [41]:
title_matrix[:2, :]

<2x704 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [21]:
# Find vocabulary
features = vect.get_feature_names()
features

['01',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '39',
 'adventures',
 'alex',
 'alex cross',
 'america',
 'american',
 'angel',
 'angels',
 'anita',
 'anita blake',
 'apprentice',
 'art',
 'bad',
 'batman',
 'beautiful',
 'beauty',
 'best',
 'big',
 'black',
 'blake',
 'blake vampire',
 'blood',
 'blue',
 'body',
 'bone',
 'bones',
 'book',
 'books',
 'born',
 'bosch',
 'bosch universe',
 'boy',
 'boys',
 'broken',
 'brothers',
 'case',
 'cat',
 'child',
 'children',
 'chronicles',
 'circle',
 'city',
 'club',
 'complete',
 'confessions',
 'cross',
 'cycle',
 'dance',
 'dark',
 'dark hunter',
 'darkest',
 'darkness',
 'daughter',
 'davenport',
 'dawn',
 'day',
 'days',
 'dead',
 'death',
 'death death',
 'detective',
 'devil',
 'diaries',
 'diary',
 'die',
 'discworld',
 'dog',
 'don',
 'dragon',
 'dream',
 'dreams',
 'earth',
 'empire',
 'end',
 'fall',
 'fallen',
 'family',
 'fear',
 'files',
 'food',
 'forever',
 'forgotten',
 'forgotten realms',
 'game',
 'garden',
 'girl',
 'girls',
 'glass',
 'god',
 'gods',
 'golden',
 'gone',
 'good',
 'grave',
 'great',
 'green',
 'guide',
 'hard',
 'harry',
 'harry bosch',
 'harry potter',
 'heart',
 'heaven',
 'hercule',
 'hercule poirot',
 'hidden',
 'high',
 'history',
 'home',
 'house',
 'human',
 'hunter',
 'ice',
 'immortals',
 'inside',
 'island',
 'jack',
 'jack reacher',
 'john',
 'journey',
 'just',
 'kay',
 'kay scarpetta',
 'key',
 'king',
 'kinsey',
 'kinsey millhone',
 'kiss',
 'knight',
 'know',
 'lady',
 'left',
 'legacy',
 'legend',
 'life',
 'light',
 'like',
 'little',
 'lives',
 'living',
 'long',
 'lord',
 'lost',
 'love',
 'lucas',
 'lucas davenport',
 'magic',
 'magician',
 'man',
 'memoir',
 'men',
 'mercy',
 'midnight',
 'millhone',
 'mind',
 'miss',
 'moon',
 'mr',
 'murder',
 'new',
 'night',
 'novel',
 'novels',
 'old',
 'people',
 'perfect',
 'plum',
 'poems',
 'poirot',
 'potter',
 'power',
 'pretty',
 'prey',
 'prey lucas',
 'prince',
 'princess',
 'queen',
 'reacher',
 'realms',
 'red',
 'rising',
 'river',
 'road',
 'rock',
 'rose',
 'saga',
 'scarpetta',
 'school',
 'science',
 'sea',
 'second',
 'secret',
 'secrets',
 'series',
 'set',
 'seven',
 'shadow',
 'shadows',
 'short',
 'sisters',
 'small',
 'snow',
 'son',
 'song',
 'soul',
 'star',
 'stars',
 'stephanie',
 'stephanie plum',
 'stone',
 'stories',
 'storm',
 'story',
 'strange',
 'street',
 'summer',
 'sun',
 'sword',
 'tale',
 'tales',
 'tell',
 'things',
 'time',
 'tree',
 'trilogy',
 'true',
 'true story',
 'truth',
 'twilight',
 'universe',
 'vampire',
 'vampire hunter',
 'vampires',
 'vol',
 'volume',
 'walking',
 'walking dead',
 'war',
 'wars',
 'water',
 'way',
 'wheel',
 'white',
 'wicked',
 'wife',
 'wild',
 'winter',
 'witch',
 'woman',
 'women',
 'world',
 'year',
 'years']

In [22]:
len(features)

261

In [23]:
What happens when we change the value of min_df value? What is this argument controlling?

Object `controlling` not found.

In [ ]:
What happens when we change the value of min_df value? What is this argument controlling

In [24]:
# confirm count of features in the corpus
word_count = [books_sub["title"].str.contains("\\b"+x+"\\b", case=False).sum() for x in features]
word_count

[23,
 69,
 57,
 52,
 44,
 35,
 29,
 21,
 21,
 36,
 42,
 23,
 37,
 46,
 28,
 30,
 23,
 23,
 26,
 55,
 32,
 24,
 35,
 24,
 21,
 40,
 95,
 23,
 0,
 60,
 56,
 24,
 33,
 28,
 122,
 24,
 20,
 26,
 26,
 44,
 22,
 28,
 25,
 20,
 23,
 22,
 49,
 166,
 25,
 66,
 51,
 49,
 20,
 33,
 36,
 20,
 138,
 1,
 26,
 37,
 43,
 21,
 28,
 45,
 28,
 80,
 114,
 0,
 24,
 23,
 39,
 29,
 20,
 41,
 26,
 31,
 29,
 32,
 24,
 39,
 23,
 38,
 36,
 32,
 51,
 20,
 28,
 21,
 30,
 29,
 20,
 43,
 28,
 107,
 49,
 35,
 57,
 20,
 20,
 26,
 51,
 28,
 48,
 35,
 58,
 21,
 63,
 26,
 22,
 53,
 26,
 25,
 25,
 29,
 32,
 60,
 37,
 110,
 25,
 56,
 35,
 26,
 24,
 26,
 51,
 23,
 21,
 29,
 27,
 23,
 23,
 23,
 72,
 24,
 24,
 35,
 25,
 21,
 30,
 25,
 20,
 34,
 179,
 31,
 27,
 111,
 25,
 25,
 31,
 42,
 55,
 145,
 21,
 21,
 65,
 21,
 134,
 28,
 35,
 23,
 41,
 24,
 23,
 24,
 43,
 30,
 47,
 77,
 146,
 27,
 25,
 25,
 29,
 26,
 32,
 29,
 26,
 24,
 42,
 24,
 22,
 0,
 33,
 34,
 44,
 23,
 25,
 72,
 35,
 25,
 33,
 21,
 20,
 80,
 23,
 30,
 23,
 39,
 27,
 77,
 26,
 25,
 21,
 27,
 49,
 29,
 23,
 25,
 23,
 21,
 32,
 33,
 25,
 44,
 21,
 28,
 28,
 23,
 91,
 23,
 132,
 21,
 32,
 42,
 23,
 29,
 38,
 74,
 21,
 48,
 95,
 22,
 146,
 57,
 30,
 37,
 28,
 60,
 90,
 24,
 25,
 178,
 59,
 25,
 20,
 66,
 22,
 20,
 46,
 21,
 40,
 25,
 25,
 25,
 30,
 21,
 40,
 48,
 142,
 35,
 36]

# Find Similarity Between Items

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
cosine_sim_titles = cosine_similarity(title_matrix, title_matrix)

In [27]:
cosine_sim_titles.shape

(10000, 10000)

In [28]:
# get books similiar to a given title
title_id = 3
books_sub['title'].iloc[title_id]

'To Kill a Mockingbird'

In [29]:
np.argsort(cosine_sim_titles[1,])

array([   0, 6656, 6657, ..., 7017, 9282,    1], dtype=int64)

In [30]:
top_n_idx = np.flip(np.argsort(cosine_sim_titles[title_id,]),axis=0)[0:10]
top_n_sim_values = cosine_sim_titles[title_id, top_n_idx]
top_n_sim_values

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [31]:
# find top n with values > 0
top_n_idx = top_n_idx[top_n_sim_values > 0]

In [32]:
# Matching books
books_sub['title'].iloc[top_n_idx]

Series([], Name: title, dtype: object)

# Consider the book - "To Kill a Mockingbird" (location_id - 3). 
What are the most similiar books? Why does "First to Kill", "Kill me if you can" etc all have same ratings?

In [33]:
## get books similiar to a given title
title_id = 1 # make this 3
books_sub['title'].iloc[title_id]

"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)"

# Find out what features have been considered by the vectorizer for a given title?

In [34]:
np.where(np.squeeze(title_matrix[9247,].toarray()) > 0)

(array([], dtype=int64),)

In [35]:
features[245]

'war'

In [36]:
# To find out non-zero values from the Count vectorizer matrix
title_id = 7017
feature_array = np.squeeze(title_matrix[title_id,].toarray())
idx = np.where(feature_array > 0)
idx[0]

array([106, 108, 177], dtype=int64)

In [37]:
[features[x] for x in idx[0]]

['harry', 'harry potter', 'potter']

In [38]:
# lets wrap the above code in a function
def return_sim_books(title_id, title_matrix, vectorizer, top_n = 10):
    
    # generate sim matrix
    sim_matrix = cosine_similarity(title_matrix, title_matrix)
    features = vectorizer.get_feature_names()



    top_n_idx = np.flip(np.argsort(sim_matrix[title_id,]),axis=0)[0:top_n]
    top_n_sim_values = sim_matrix[title_id, top_n_idx]
    
    # find top n with values > 0
    top_n_idx = top_n_idx[top_n_sim_values > 0]
    scores = top_n_sim_values[top_n_sim_values > 0]
    
    
    # find features from the vectorized matrix
    sim_books_idx = books_sub['title'].iloc[top_n_idx].index
    words = []
    for book_idx in sim_books_idx:
        try:
            feature_array = np.squeeze(title_matrix[book_idx,].toarray())
        except:
            feature_array = np.squeeze(title_matrix[book_idx,])
        idx = np.where(feature_array > 0)
        words.append([" , ".join([features[i] for i in idx[0]])])
        
    # collate results
    res = pd.DataFrame({"book_title" : books_sub['title'].iloc[title_id],
           "sim_books": books_sub['title'].iloc[top_n_idx].values,"words":words,
           "scores":scores}, columns = ["book_title","sim_books","scores","words"])
    
    
    return res

In [39]:
vect = CountVectorizer(analyzer='word',ngram_range=(1,2),stop_words='english', min_df = 0.001)
vect.fit(books_sub['title'])
title_matrix = vect.transform(books_sub['title'])
return_sim_books(1854,title_matrix,vect,top_n=20)

,book_title,sim_books,scores,words
0,The Seven Spiritual Laws of Success: A Practic...,The Seven Spiritual Laws of Success: A Practic...,1.000000,"[dreams , guide , seven , success]"
1,The Seven Spiritual Laws of Success: A Practic...,The 7 Habits of Highly Effective Teens: The Ul...,0.707107,"[guide , success]"
2,The Seven Spiritual Laws of Success: A Practic...,"The Hollow (Sign of Seven, #2)",0.500000,[seven]
3,The Seven Spiritual Laws of Success: A Practic...,Hogwarts: An Incomplete and Unreliable Guide (...,0.500000,[guide]
4,The Seven Spiritual Laws of Success: A Practic...,The Success Principles: How to Get from Where ...,0.500000,[success]
5,The Seven Spiritual Laws of Success: A Practic...,Einstein's Dreams,0.500000,[dreams]
6,The Seven Spiritual Laws of Success: A Practic...,The Happiness Advantage: The Seven Principles ...,0.500000,"[happiness , seven , success , work]"
7,The Seven Spiritual Laws of Success: A Practic...,Ina May's Guide to Childbirth,0.500000,[guide]
8,The Seven Spiritual Laws of Success: A Practic...,Waking Up: A Guide to Spirituality Without Rel...,0.500000,[guide]
9,The Seven Spiritual Laws of Success: A Practic...,Preach My Gospel: A Guide To Missionary Service,0.500000,[guide]
10,The Seven Spiritual Laws of Success: A Practic...,"Succubus Dreams (Georgina Kincaid, #3)",0.500000,[dreams]
11,The Seven Spiritual Laws of Success: A Practic...,The Hitchhiker's Guide to the Galaxy (Hitchhik...,0.500000,[guide]
12,The Seven Spiritual Laws of Success: A Practic...,The Seven-Percent Solution,0.500000,[seven]
13,The Seven Spiritual Laws of Success: A Practic...,The Traveler's Gift: Seven Decisions that Dete...,0.500000,"[gift , personal , seven , success]"
14,The Seven Spiritual Laws of Success: A Practic...,Give and Take: A Revolutionary Approach to Suc...,0.500000,[success]
15,The Seven Spiritual Laws of Success: A Practic...,Mostly Harmless (Hitchhiker's Guide to the Gal...,0.500000,[guide]
16,The Seven Spiritual Laws of Success: A Practic...,"Wildest Dreams (Fantasyland, #1)",0.500000,[dreams]
17,The Seven Spiritual Laws of Success: A Practic...,Animal Dreams,0.500000,[dreams]
18,The Seven Spiritual Laws of Success: A Practic...,How I Raised Myself from Failure to Success in...,0.500000,[success]
19,The Seven Spiritual Laws of Success: A Practic...,"Vain (The Seven Deadly, #1)",0.500000,[seven]

In [42]:
return_sim_books(1,title_matrix,vect,top_n=10)

,book_title,sim_books,scores,words
0,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter and the Sorcerer's Stone (Harry P...,1.000000,"[harry , harry potter , potter , stone]"
1,Harry Potter and the Sorcerer's Stone (Harry P...,The Magical Worlds of Harry Potter: A Treasury...,0.960769,"[harry , harry potter , potter]"
2,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter and Philosophy: If Aristotle Ran ...,0.960769,"[harry , harry potter , potter]"
3,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter and the Goblet of Fire (Harry Pot...,0.960769,"[harry , harry potter , potter]"
4,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter and the Deathly Hallows (Harry Po...,0.960769,"[harry , harry potter , potter]"
5,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter and the Prisoner of Azkaban (Harr...,0.960769,"[harry , harry potter , potter]"
6,Harry Potter and the Sorcerer's Stone (Harry P...,"Harry Potter Boxset (Harry Potter, #1-7)",0.960769,"[harry , harry potter , potter]"
7,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter: Film Wizardry,0.960769,"[harry , harry potter , potter]"
8,Harry Potter and the Sorcerer's Stone (Harry P...,"Harry Potter Collection (Harry Potter, #1-6)",0.923077,"[collection , harry , harry potter , potter]"
9,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter and the Chamber of Secrets (Harry...,0.923077,"[harry , harry potter , potter , secrets]"

In [43]:
return_sim_books(3,title_matrix,vect,top_n=5)

,book_title,sim_books,scores,words
0,To Kill a Mockingbird,To Kill a Mockingbird,1.000000,[kill]
1,To Kill a Mockingbird,Kill Me If You Can,1.000000,[kill]
2,To Kill a Mockingbird,"First to Kill (Nathan McBride, #1)",1.000000,[kill]
3,To Kill a Mockingbird,All You Need Is Kill,0.707107,"[kill , need]"
4,To Kill a Mockingbird,"The Kill Order (Maze Runner, #0.5)",0.707107,"[kill , order]"